<template>
  <div id="app">
    <MHeader></MHeader>
    <tab></tab>
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
import MHeader from './components/m-header/Mheader.vue'
import Tab from './components/tab/tab.vue'

export default {
  name: 'app',
  components: {
    MHeader,
    Tab
  }
}
</script>

<style>

</style>
