 <template>
    <div class="recommend">
        <swiper :options="swiperOption" style="margin-bottom: 1rem;">
            <swiper-slide v-for="item in recommends" :key="item.id">
                <a :href="item.linkUrl">
                    <img :src="item.picUrl" class="needclick">
                </a>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
        <div class="recommend-list">
            <h1 class="list-title">热门歌单推荐</h1>
            <ul class="list-ul">
                <li class="recommend-list-item" v-for="item in discLists" :key="item.id">
                    <div class="icon">
                        <img :src="item.imgurl" class="icon-img">
                    </div>
                    <div class="text">
                        <h2 class="name" v-html="item.creator.name"></h2>
                        <p class="desc" v-html="item.dissname"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import { getRecommend, getDiscList } from "../../api/recommend";
import { ERR_OK } from "../../api/config";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import "swiper/dist/css/swiper.css";
export default {
  components: {
    swiper,
    swiperSlide
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        autoplay: true,
        mousewheel: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      },
      recommends: [],
      discLists: []
    };
  },
  created() {
    this._getRecommend();
    this._getDiscList();
  },
  methods: {
    _getRecommend() {
      getRecommend().then(res => {
        if (res.code === ERR_OK) {
          this.recommends = res.data.slider;
        }
      });
    },
    _getDiscList() {
      getDiscList().then(res => {
        if (res.code === ERR_OK) {
          this.discLists = res.data.list;
        }
      });
    }
  }
};
</script>

<style scoped lang="stylus">
@import "../../common/stylus/variable"
.recommend {
    width: 375px;
    height: 560px;
}

.swiper {
    width: 375px;
    height: 150px;
}

.swiper-slide {
    width: 375px;
    height: 150px;
}

.swiper-slide img {
    width: 375px;
    height: 150px;
}

.recommend-list {
    width: 375px;
    height: 410px;

    .list-title {
        height: 65px;
        line-height: 65px;
        text-align: center;
        font-size: $font-size-medium;
        color: $color-theme;
    }

    .list-ul {
        width:375px;
        height:346px;
        overflow: scroll;
        .recommend-list-item {
            
            display: flex;
            box-sizing: border-box;
            align-items: center;
            padding: 0 20px 20px 20px;

            .icon {
                flex: 0 0 60px;
                width: 60px;
                padding-right: 20px;

                .icon-img {
                    width: 60px;
                    height: 60px;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
                line-height: 20px;
                overflow: hidden;
                font-size: $font-size-medium;

                .name {
                    margin-bottom: 10px;
                    color: $color-text;
                }

                .desc {
                    color: $color-text-d;
                }
            }
        }
    }
}
</style>